$primary-color: #212F3F;
$font-stack: arial;

@import 'assets/navigation';
@import 'assets/hero';
@import 'assets/main';
@import 'assets/footer';


body {
  font-family: $font-stack;
  margin: 0;
}

@media screen and (max-width: 480px) {
    .nav-bottom-bar {
    flex-direction: column;
    ul li {
      display: block;
      padding: 0 10px 0 10px;
    }

    select {
      &#departments {
        width: 100px;
      }

      &#lang {
        width: 50px;
      }
    }
    }

    main {
    flex-direction: column;

    .main-content {
      order: 2;
    }

    .side-content {
      display: flex;
      order: 1;

      .side-content-card {
        width: 50%;

        img {
          width: 100%;
        }
      }
    }
  }


}

@media screen and (min-width: 481px) and (max-width:1150px) {
  main {
    flex-direction: column;

    .main-content {
      order: 2;
    }

    .side-content {
      display: flex;
      order: 1;

      .side-content-card {
        width: 25%;

        img {
          width: 100%;
        }
      }
    }
  }

  .nav-bottom-bar {
    flex-direction: column;
    ul li {
      display: block;
      padding: 0 10px 0 10px;
    }

    select {
      &#departments {
        width: 100px;
      }

      &#lang {
        width: 50px;
      }
    }
  }
}

@media screen and (min-width: 1151px) {

}


