footer {
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 12px;
  ul {
      display: inline;
    }

    li {
      display: inline;
      text-align: center;
      padding: 0 15px 0 15px;
    }
}
